### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to load for purchasing data
pch_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame; display headers
pch_data_df = pd.read_csv(pch_data)
pch_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Using describe function to identify parameters of the data
pch_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [4]:
#Calculate total # of players and print to verify accuracy
totplayers = pch_data_df["SN"].nunique()

print( "Total Number of Players:" + str(totplayers))

Total Number of Players:576

In [5]:
#Calculate total # of Unique Items and print to verify accuracy
#Calculate Average Price and print to verify accuracy
#Calculate total revenue and print to verify accuracy
#Calculate total pruchases and print to verify accuracy

uniqueitems = pch_data_df["Item ID"].nunique()
uniqueitems

avgprice = pch_data_df["Price"].mean()
avgprice
    
totrev = pch_data_df["Price"].sum()
totrev
    
totpurchases = pch_data_df["Item ID"].count()
totpurchases
    
    
print( "Total Number of Unique Items:" + str(uniqueitems))
print( "Average Price:" + str(avgprice))
print( "Total Revenue:" + str(totrev))
print( "Total Purchases:" + str(totpurchases))

Total Number of Unique Items:183
Average Price:3.050987179487176
Total Revenue:2379.77
Total Purchases:780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Create Summary table of findings
#Create Dataframe for use in Summary table & display
sumtable = pd.DataFrame({"Players total":[totplayers],
                        "Total Number of Unique Items" :[uniqueitems],
                        "Average Price": [avgprice],
                        "Total Revenue" :[totrev],
                        "Total Purchases":[totpurchases]})                        
sumtable

,Players total,Total Number of Unique Items,Average Price,Total Revenue,Total Purchases
0,576,183,3.050987,2379.77,780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Identify and display percentage counts of Male/Female/Non-Disclosed players
#Use Groupby to group together all Gender types; use SN count to get # of unique players per gender
#   --removed -- Print to verify accuracy print(str(allplayergend)) print(str(genderpercent))
#Create DataFrame and display

gender = pch_data_df.groupby("Gender")
allplayergend = gender.nunique()["SN"]


genderpercent = allplayergend/((81+484+11)*100)


genderdisplay = pd.DataFrame({"Precent of Players": genderpercent, 
                              "Total Players by Gender": allplayergend})

genderdisplay

                       Precent of Players  Total Players by Gender
Gender
Female                           0.001406                       81
Male                             0.008403                      484
Other / Non-Disclosed            0.000191                       11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Count the total number of purchases per gender
genpurchtot = gender["Item ID"].count()
genpurchtot

#Average price of purchases per gender
genpurchavg = gender["Price"].mean()
genpurchavg

#Total price of purchases per gender
genpurchval = gender["Price"].sum()
genpurchval

#Average purchase total per person by Gender
#---help
#allavg = genpurchavg/484
Maleavg = genpurchavg/(484)
Femaleavg = genpurchavg/(81)
                    
                           
                           

gentable = pd.DataFrame({"Total per Gender":[genpurchtot],
                        "Average Price per Gender" :[genpurchavg],
                        "Total Price per Gender": [genpurchval],
                         "Average Purchase per Male": [Maleavg],
                        "Average Purchase per Female": [Femaleavg]
                        })                        
gentable

,Total per Gender,Average Price per Gender,Total Price per Gender,Average Purchase per Male,Average Purchase per Female
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 0.006618 Male ...,Gender Female 0.039543 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:

# Establish bins for ages
#Bin the purchase_data data frame by age
agebins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
agenames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut
#Create new dataframe for age groups
pch_data_df["Age Range"] = pd.cut(pch_data_df["Age"],agebins, labels = agenames)
pch_data_df


#Create unique age range bin variable
#Run basic calculations to obtain purchase count, avg. 
#purchase price, avg. purchase total per person etc. in the table below
agerange = pch_data_df.groupby("Age Range")
agerange

agecount = agerange["SN"].count()
agecount

ageavgprice = (agecount/totplayers)*100
ageavgprice

agevalue = agerange["Price"].sum()
agevalue

ageavgtot = pch_data_df.groupby("Age")["Price"].mean()
ageavgtot

#Display the summary data frame
agetable = pd.DataFrame({"Total per Age":[agecount],
                        "Average Price per Age" :[ageavgprice],
                        "Total Purchases per Age": [agevalue],
                         "Average Purchase per Age group": [ageavgtot],
                        })                        
agetable

,Total per Age,Average Price per Age,Total Purchases per Age,Average Purchase per Age group
0,Age Range <10 32 10-14 54 15-19 2...,Age Range <10 5.555556 10-14 9.37500...,Age Range <10 108.96 10-14 156.60 15-1...,Age 7 3.654444 8 3.246250 9 3.0450...

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#Retrieve the Item ID, Item Name, and Item Price columns
popitems = pch_data_df[["Item ID", "Item Name", "Price"]]


#Group by Item ID and Item Name. Perform calculations to 
#obtain purchase count, item price, and total purchase value

#popall = popitems.groupby(["Item Id, Item Name"])



popcount = pch_data_df["Item ID"].nunique()
popsum = pch_data_df["Price"].sum()

poptable = pd.DataFrame({"Purchase count":[popcount],
                         "Total Purchase Value":[popsum],
                        
                        })                        
poptable

   Purchase count  Total Purchase Value
0             183               2379.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame